.appContainer {
    position: absolute;
    width: 420px;
    height: 100%;
    min-height: 560px;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    left: calc(50% - 210px);
    background-image: radial-gradient(#fff 0%, #f8bbd0 100%);
}

@media screen and (max-width: 420px) {
    .appContainer {
        width: 100%;
        left: 0;
    }
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2rem;
    z-index: 10;
}

.stage1 {
    display: grid;
    position: relative;
    height: 100%;
    overflow: hidden;
    grid-template-rows: 35% 30% 35%;
}

.musicBtn {
    position: absolute;
    left: 50px;
    top: 150px;
    z-index: 50;
    border-radius: 50%;
    font-size: 20px;
    padding: 3px;
    line-height: 15px;
}

.got-married-svg {
    width: auto;
    height: 150px;
}

.stage1 .group1 {
    position: relative;
    margin: 1rem 0;
    opacity: 0;
    animation: fadeIn 1s, rubberBand 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.group2 {
    position: relative;
    display: flex;
    align-items: center;
    opacity: 0;
    animation: rotateIn 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.bride-groom-svg {
    position: absolute;
    left: 50%;
    top: 42%;
    width: 175px;
    height: auto;
    margin: auto;
    transform: translate(-20%, -50%);
}

.group2 .nameContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto 2rem;
}

/*.group2-table {
    margin: 1rem;
}*/
.group3 {
    text-align: center;
}

.group2-table .table-title {
    display: block;
    white-space: nowrap;
}

.text-name {
    display: block;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 2rem;
}

.invite-text-img {
    opacity: 0;
    animation: fadeIn 1s, tada 1s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

.group4 {
    width: 60%;
    margin: 2rem auto;
    opacity: 0;
    animation: myBounceInLeft 1s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}

.joinBtn {
    animation: glow 1s infinite alternate, pulse 2s infinite;
}

.decoration {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.flower {
    position: absolute;
    width: 20px;
    height: 20px;
    animation: zoomIn 2s, flash 5s linear 2s infinite;
}

.TreeCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

.lookup-text {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    line-height: 2rem;
}

.stage2 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto 3rem;
    animation: fadeIn 2s;
}

.inputLabel {
    display: block;
    margin: 1rem auto .5rem;
}

.callBtn {
    margin: 2rem auto;
}

.input-disabled {
    background-color: #ccc;
    pointer-events: none;
}

.stage3 {
    display: grid;
    grid-template-rows: 40% 60%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    animation: fadeIn 2s;
}

.stage3 .welcomeText {
    font-size: 26pt;
    align-self: center;
}

.stage3 .erkang {
    width: 180px;
    height: auto;
}

.stage3 .note {
    font-size: 15pt;
    margin: .5rem auto;
}

.glowBorder {
    animation: glow 1s infinite alternate;
}


/* The container */
.myCheckbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 1rem auto;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 10pt;
}
/* Hide the browser's default checkbox */
.myCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #aaa;
}

/* On mouse-over, add a grey background color */
.myCheckbox:hover input ~ .mark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.myCheckbox input:checked ~ .mark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.mark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.myCheckbox input:checked ~ .mark:after {
    display: block;
}

/* Style the checkmark/indicator */
.myCheckbox .mark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@-webkit-keyframes myBounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes myBounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes glow {
  from {
    box-shadow: 0 0 3px -3px rgba(0,123,255,.5);
  }
  to {
    box-shadow: 0 0 3px -3px rgba(0,123,255,.5);
  }
}

@keyframes glow {
  from {
    box-shadow: 0 0 3px -3px rgba(0,123,255,.5);
  }
  to {
    box-shadow: 0 0 3px 3px rgba(0,123,255,.5);
  }
}